$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// body {
//   margin: auto;
// }

#board {
  margin: auto;
  padding: 50px;
  font-size: 100px;
  text-align: center;
  table {
    margin: auto;
  }
  display: none;
}

.square{
    width: 200px;
    height: 200px;
}

.v{
    border-left:5px solid #000;
    border-right:5px solid #000;
}

.h{
    border-top:5px solid #000;
    border-bottom:5px solid #000;
}

p{
  font-size: 30px;
  // display: none;
}

.userStats{
  margin-top: 10px;
}

#change-password{
  display: none;
}

#signOut{
  display: none;
}

#startGame{
  display: none;
}

#stats{
  display: none;
}

.status{
  display: none;
}

.modalContainer{
  color: blue;
}
